@use '../custom' as *;
@use '../abstracts/variables' as *;

.item-types-section {
    position: relative;
    bottom:5rem;

    .item-type {
        margin-bottom: 1.5rem;
    
        .container {
            padding:4rem 1.9rem;
            min-height:14rem;
    
            &.active,&:hover {
                cursor: pointer;
            }
    
            .overlay {
                height:70%;
                width:80%;
            }
        }
    }
}