@use '../custom' as *;
@use '../abstracts/variables' as *;

@mixin type-icon {
    border-radius: 50%;
    background-color: $primary;

    svg {
        fill:$white;
        background-color: $primary;
        margin:0 auto;
    }
}