@use '../custom' as *;

//GRAY
$dark-gray:#10151C;
$gray:#999999;
$light-gray:#B9BDC2;

//WHITE
$white-primary:#F5F5F5;
$white-secondary:#F7F7F7;

//PRIMARY
$light-primary:#E53A45;
$dark-primary:#F03943;

$star:#FDC107;
$scrollbar-color:$primary;